<div class="global-container" uk-height-viewport>
  <div
    uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"
  >
    <nav class="uk-navbar-container uk-dark" uk-navbar="mode: click">
      <div class="uk-navbar-center">
        <div class="uk-navbar-item logo"></div>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-visible@s">
          <li>
            <a href="#">
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: phone"
              ></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: facebook"
              ></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: whatsapp"
              ></span>
            </a>
          </li>
        </ul>
        <a
          class="uk-navbar-toggle uk-hidden@s"
          uk-navbar-toggle-icon
          href="#"
        ></a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li>
              <a href="#"
                ><span
                  class="uk-icon uk-margin-small-right"
                  uk-icon="icon: phone"
                ></span>
                Teléfono</a
              >
            </li>
            <li>
              <a href="#"
                ><span
                  class="uk-icon uk-margin-small-right"
                  uk-icon="icon: facebook"
                ></span>
                Facebook</a
              >
            </li>
            <li>
              <a href="#">
                <span
                  class="uk-icon uk-margin-small-right"
                  uk-icon="icon: whatsapp"
                ></span>
                Whatsapp</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="uk-container uk-container-small">
    <div
      uk-slideshow="animation: push; min-height: 300; max-height: 400; autoplay: true"
    >
      <div
        class="uk-position-relative uk-visible-toggle uk-light"
        tabindex="-1"
      >
        <ul class="uk-slideshow-items">
          <li>
            <img
              src="/assets/img/poderoso-ritual-encontrar-trabajo-deseado-868600.jpg"
              alt=""
              uk-cover
            />
            <div
              class="
                uk-overlay-primary
                uk-padding
                uk-position-bottom
                uk-position-small
                uk-text-center
                uk-light
              "
            >
              <h2 class="uk-margin-remove deutsch">Dioselina Garcia</h2>
              <p class="uk-margin-remove">Contacta nuestra vidente.</p>
            </div>
          </li>
          <li>
            <img src="/assets/img/ritual-velas-1.jpg" alt="" uk-cover />
          </li>
          <li>
            <video
              src="https://firebasestorage.googleapis.com/v0/b/fanpage-76320.appspot.com/o/assets%2Fvideos%2F218239650_307880324395310_3381304723302878634_n.mp4?alt=media&token=53e3a00f-63bc-4727-a535-08369b4ce020"
              autoplay
              loop
              muted
              playsinline
              uk-cover
            ></video>
          </li>
        </ul>

        <a
          class="uk-position-center-left uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-previous
          uk-slideshow-item="previous"
        ></a>
        <a
          class="uk-position-center-right uk-position-small uk-hidden-hover"
          href="#"
          uk-slidenav-next
          uk-slideshow-item="next"
        ></a>

        <div class="uk-position-bottom uk-position-z-index">
          <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
      </div>
    </div>

    <div class="uk-background-primary uk-light">
      <div class="uk-section uk-container">
        <div class="uk-text-center">
          <h2 class="deutsch">Lectura del Tarot</h2>
        </div>
        <div uk-grid>
          <div class="uk-width-2-3@s uk-width-1-2">
            <p class="uk-padding">
              Me llamo Dioselina Garcia. Soy vidente y tiradora de cartas desde
              hace 15 años. He centralizado mis respuestas alrededor de los
              manuscritos redactados por el mago Edmond para ofrecerle una
              experiencia de adivinación única.
            </p>
          </div>
          <div
            class="uk-width-1-3@s uk-width-1-2 image-tarot"
            style="background-image: url(/assets/img/tarot.jpeg)"
          ></div>
        </div>
      </div>
    </div>

    <div class="uk-background-secondary uk-light">
      <div class="uk-section uk-container">
        <div class="uk-text-center">
          <h1 class="deutsch">Mis servicios</h1>
        </div>
        <div
          class="uk-position-relative uk-visible-toggle uk-light"
          tabindex="-1"
          uk-slider="center: true"
        >
          <ul class="uk-height-medium uk-slider-items servicios uk-grid">
            <li
              class="uk-width-3-4"
              style="background-image: url(/assets/img/limpias.jpg)"
            >
              <div class="uk-position-center uk-panel uk-overlay-primary">
                <h1>LIMPIAS</h1>
              </div>
            </li>
            <li
              class="uk-width-3-4"
              style="background-image: url(/assets/img/conjuros.webp)"
            >
              <div class="uk-position-center uk-panel uk-overlay-primary">
                <h1>CONJUROS</h1>
              </div>
            </li>
            <li
              class="uk-width-3-4"
              style="background-image: url(/assets/img/amarres.jpg)"
            >
              <div class="uk-position-center uk-panel uk-overlay-primary">
                <h1>AMARRES</h1>
              </div>
            </li>
            <li
              class="uk-width-3-4"
              style="background-image: url(/assets/img/endulzamientos.jpg)"
            >
              <div class="uk-position-center uk-panel uk-overlay-primary">
                <h1>ENDULZAMIENTOS</h1>
              </div>
            </li>
            <li
              class="uk-width-3-4"
              style="background-image: url(/assets/img/alejamientos.jpg)"
            >
              <div class="uk-position-center uk-panel uk-overlay-primary">
                <h1>ALEJAMIENTOS</h1>
              </div>
            </li>
            <li
              class="uk-width-3-4"
              style="background-image: url(/assets/img/entierros.jpg)"
            >
              <div class="uk-position-center uk-panel uk-overlay-primary">
                <h1>ENTIERROS</h1>
              </div>
            </li>
            <li
              class="uk-width-3-4"
              style="background-image: url(/assets/img/abrircaminos.jpg)"
            >
              <div class="uk-position-center uk-panel uk-overlay-primary">
                <h1>SE ABREN CAMINOS</h1>
              </div>
            </li>
            <li
              class="uk-width-3-4"
              style="background-image: url(/assets/img/suerte.jpeg)"
            >
              <div class="uk-position-center uk-panel uk-overlay-primary">
                <h1>SUERTE EN EL AMOR Y EL DINERO</h1>
              </div>
            </li>
          </ul>

          <a
            class="uk-position-center-left uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-previous
            uk-slider-item="previous"
          ></a>
          <a
            class="uk-position-center-right uk-position-small uk-hidden-hover"
            href="#"
            uk-slidenav-next
            uk-slider-item="next"
          ></a>
        </div>
      </div>
    </div>

    <div class="uk-background-default uk-dark">
      <div class="uk-section uk-padding">
        <h1 class="uk-text-center deutsch">
          Horóscopo anual 2021: ¡Todas las predicciones detalladas!
        </h1>
        <div class="uk-flex uk-flex-center">
          <div class="divider-line"><hr /></div>
        </div>
        <p class="uk-text-center">
          Este año 2021 viene cargado de muchos cambios y emociones para cada
          uno de los signos del zodiaco. Algunos acontecimientos astrales
          llegarán a su fin, mientras que otros seguirán cambiando el rumbo de
          nuestras vidas. Descubre todo lo que tiene para ti tu horóscopo 2021
          gratis.
        </p>

        <!-- Cards -->
        <div class="uk-section-small">
          <div
            class="uk-child-width-1-3@m uk-child-width-1-2@s uk-text-center"
            uk-grid
          >
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/aries.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Aries</h3>
                  <p>
                    Aries, prepárate porque el año 2021, que se acerca, no será
                    fácil. Los astros anuncian muchos cambios importantes. Amor,
                    trabajo, familia... estos cambios pueden afectar todas las
                    áreas de tu vida. Afortunadamente, tu motivación te permite
                    aferrarte y ver en cada cambio una oportunidad.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/acuario.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Acuario</h3>
                  <p>
                    Este 2021 tendrás que estar alerta y no dejar pasar las
                    oportunidades que se te presenten. Te armarás de valor para
                    dejar atrás algunas cosas que te molestaban de ciertas
                    personas o situaciones. ¿Qué estás esperando? Descubre todo
                    lo que tu horóscopo Acuario 2021 tiene para ti!
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/cancer.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Cancer</h3>
                  <p>
                    Cáncer, este 2021 tendrás un año algo turbulento. Será algo
                    así como un sube y baja en toda la extensión de la palabra.
                    Apesar de todos estos eventos no todo serán cosas negativas.
                    Sigue leyendo y descubre todo lo que te reserva tu horóscopo
                    Cáncer 2021.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/capricornio.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Capricornio</h3>
                  <p>
                    Este 2021 es un año de cambios para ti, capricornio. Además
                    nada ni nadie podrá detenerte en los proyecto que tengas
                    pendiente o que hayas iniciado recientemente. Serás amado
                    (a) y esto se notará. Descubre todo lo que tu horóscopo
                    Capricornio 2021 te tiene reservado.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/geminis.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Geminis</h3>
                  <p>
                    Géminis, este año 2020 tu determinación será incomparable.
                    Solo que ten cuidado porque no todo será color de rosa, en
                    el ámbito amoroso te dejas llevar un poco y no le darás la
                    importancia que se merece. ¿Qué esperas? ¡Descubre todo lo
                    que esté 2020 te reserva!
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/leo.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Leo</h3>
                  <p>
                    Tienes que ponerte las pilas si quieres disfrutar plenamente
                    de este año 2021. Sabes que los esfuerzos serán
                    recompensados, así que organiza todo de la mejor manera
                    posible. Este año los astros recompensarán tu determinación.
                    Descubre tu Horóscopo Leo 2021.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/libra.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Libra</h3>
                  <p>
                    Este año realmente tienes que agarrarte fuerte porque nada
                    te tendrá. Sobresaldrás en todas las actividades que te
                    propongas. La amistad estará a la orden del día y ¡será lo
                    más importante para ti! Así que no demores más y descubre
                    todo lo que este horoscopo de libra 2021 tiene para ti.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/piscis.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Piscis</h3>
                  <p>
                    Este 2021, será tu creatividad y tu imaginación lo que te
                    asegurará éxitos importantes. A nivel profesional,
                    combinarás inspiración, sentido de la organización y
                    atención al detalle. ¿Qué más tiene para ti tu horóscopo
                    Piscis gratis 2021? ¡Descúbrelo!
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/sagitario.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Sagitario</h3>
                  <p>
                    Este año 2021 tienes que dar lo mejor de ti. Tienes que
                    tomar decisiones importantes y abrir tu mente. Tienes una
                    manera de guiar tu vida que sorprende a más de uno. Descubre
                    todo lo que tiene para ti tu horoscopo sagitario 2021.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/scorpion.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Scorpion</h3>
                  <p>
                    Escorpio este 2021 deja a un lado tus miedos y permítete
                    brillar como nunca. Eso sí ten cuidado de no ir más allá de
                    los límites en tus relaciones amorosas o laborales. No
                    olvides que tu talento y tu carisma no te servirán de excusa
                    siempre. ¡Descubre todo lo que tiene para ti tu horóscopo
                    Escorpio 2021!
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/tauro.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Tauro</h3>
                  <p>
                    El año 2021 promete ser un gran año para Tauro, ¡sé feliz!
                    Sin embargo, no será un año tranquilo en todas las áreas de
                    tu vida. Por una vez, estos cambios no te asustarán porque
                    tú los habrás decidido. Échale un ojo a tus predicciones del
                    horóscopo Tauro 2021.
                  </p>
                </div>
              </div>
            </div>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="/assets/img/virgo.png" alt="" />
                </div>
                <div class="uk-card-body uk-overflow-auto uk-height-medium">
                  <h3 class="uk-card-title">Virgo</h3>
                  <p>
                    En este 2021 el amor no te faltará. Apreciarás pasar tiempo
                    de calidad con tu familia y amigos. Y en el trabajo pondrás
                    todo de tu parte para que todo resulte positivamente. No
                    pierdas mas tiempo y descubre tu horóscopo virgo 2021.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="uk-section">
  <div class="uk-container">
    
    <app-carrousel></app-carrousel>
    <app-cards></app-cards>
    <app-footer></app-footer>
  </div>
</div> -->
  </div>
  <div class="footer">
    <div class="uk-container uk-section uk-text-center">
      <p>&copy; Todos los derechos reservados desde el 2018.</p>
    </div>
  </div>
</div>

<!-- CONTACTO WINDOW -->
<div id="contact-info" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Información de contácto</h2>
    <ul class="uk-nav">
      <li>
        <a href="#"
          ><span
            class="uk-icon uk-margin-small-right"
            uk-icon="icon: phone"
          ></span>
          Teléfono</a
        >
      </li>
      <li>
        <a href="#"
          ><span
            class="uk-icon uk-margin-small-right"
            uk-icon="icon: facebook"
          ></span>
          Facebook</a
        >
      </li>
      <li>
        <a href="#">
          <span
            class="uk-icon uk-margin-small-right"
            uk-icon="icon: whatsapp"
          ></span>
          Whatsapp</a
        >
      </li>
    </ul>
    <button class="uk-modal-close uk-button uk-button-secondary uk-margin uk-float-right" type="button">Aceptar</button>
  </div>
</div>
