nav.uk-navbar-container {
  background-color: rgba($color: #000000, $alpha: 0.7);
  height: 120px !important;
}
.logo {
  background-image: url(/assets/img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-tarot {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
ul.servicios {
  li {
    background-color: #222;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
