<div
  class="uk-position-relative uk-visible-toggle uk-light"
  tabindex="-1"
  uk-slideshow="animation: push; min-height: 300; max-height: 400"
>
  <ul class="uk-slideshow-items">
    <li>
      <img
        src="https://getuikit.com/docs/images/photo.jpg"
        alt=""
        uk-cover
      />
    </li>
    <li>
      <video
        src="/assets/video/218239650_307880324395310_3381304723302878634_n.mp4"
        autoplay
        loop
        muted
        playsinline
        uk-cover
      ></video>
    </li>
    <li>
      <iframe
        width="1920"
        height="1080"
        src="https://www.youtube.com/embed/c2pz2mlSfXA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; muted; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        uk-cover
      ></iframe>
    </li>
  </ul>

  <a
    class="uk-position-center-left uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-previous
    uk-slideshow-item="previous"
  ></a>
  <a
    class="uk-position-center-right uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-next
    uk-slideshow-item="next"
  ></a>
</div>