<div class="uk-container">
  <div class="uk-background-secondary uk-light">
    <div class="uk-section uk-container">
      <h1 class="uk-text-center">Choose Your Zodiac Sign</h1>
      <div class="uk-flex uk-flex-center">
        <div class="divider-line"><hr /></div>
      </div>
      <p class="uk-text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptate
        non ab? Quia veniam perspiciatis labore magnam dignissimos, itaque
        asperiores dolorum. Illo, aut saepe eaque dolorum vitae explicabo
        aliquid culpa.
      </p>
      <div class="uk-section-small">
        <div class="uk-child-width-1-4" uk-grid>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>
          <div>aasdas</div>

          <div>aasdas</div>
          <div>aasdas</div>
        </div>
      </div>
    </div>
  </div>
</div>
